In [1]:
import pandas as pd

In [2]:
od = pd.read_csv("pizza_sales/order_details.csv")
o = pd.read_csv("pizza_sales/orders.csv")
pt = pd.read_csv("pizza_sales/pizza_types.csv", encoding= 'unicode_escape') # codec decode error
p = pd.read_csv("pizza_sales/pizzas.csv")

In [3]:
pt

,pizza_type_id,name,category,ingredients
0,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
1,cali_ckn,The California Chicken Pizza,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ..."
2,ckn_alfredo,The Chicken Alfredo Pizza,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A..."
3,ckn_pesto,The Chicken Pesto Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Spinach, Garli..."
4,southw_ckn,The Southwest Chicken Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Red Onions, Ja..."
5,thai_ckn,The Thai Chicken Pizza,Chicken,"Chicken, Pineapple, Tomatoes, Red Peppers, Tha..."
6,big_meat,The Big Meat Pizza,Classic,"Bacon, Pepperoni, Italian Sausage, Chorizo Sau..."
7,classic_dlx,The Classic Deluxe Pizza,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,..."
8,hawaiian,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
9,ital_cpcllo,The Italian Capocollo Pizza,Classic,"Capocollo, Red Peppers, Tomatoes, Goat Cheese,..."
10,napolitana,The Napolitana Pizza,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,..."
11,pep_msh_pep,"The Pepperoni, Mushroom, and Peppers Pizza",Classic,"Pepperoni, Mushrooms, Green Peppers"
12,pepperoni,The Pepperoni Pizza,Classic,"Mozzarella Cheese, Pepperoni"
13,the_greek,The Greek Pizza,Classic,"Kalamata Olives, Feta Cheese, Tomatoes, Garlic..."
14,brie_carre,The Brie Carre Pizza,Supreme,"Brie Carre Cheese, Prosciutto, Caramelized Oni..."
15,calabrese,The Calabrese Pizza,Supreme,"Â‘Nduja Salami, Pancetta, Tomatoes, Red Onions,..."
16,ital_supr,The Italian Supreme Pizza,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni..."
17,peppr_salami,The Pepper Salami Pizza,Supreme,"Genoa Salami, Capocollo, Pepperoni, Tomatoes, ..."
18,prsc_argla,The Prosciutto and Arugula Pizza,Supreme,"Prosciutto di San Daniele, Arugula, Mozzarella..."
19,sicilian,The Sicilian Pizza,Supreme,"Coarse Sicilian Salami, Tomatoes, Green Olives..."
20,soppressata,The Soppressata Pizza,Supreme,"Soppressata Salami, Fontina Cheese, Mozzarella..."
21,spicy_ital,The Spicy Italian Pizza,Supreme,"Capocollo, Tomatoes, Goat Cheese, Artichokes, ..."
22,spinach_supr,The Spinach Supreme Pizza,Supreme,"Spinach, Red Onions, Pepperoni, Tomatoes, Arti..."
23,five_cheese,The Five Cheese Pizza,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go..."
24,four_cheese,The Four Cheese Pizza,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo..."
25,green_garden,The Green Garden Pizza,Veggie,"Spinach, Mushrooms, Tomatoes, Green Olives, Fe..."
26,ital_veggie,The Italian Vegetables Pizza,Veggie,"Eggplant, Artichokes, Tomatoes, Zucchini, Red ..."
27,mediterraneo,The Mediterranean Pizza,Veggie,"Spinach, Artichokes, Kalamata Olives, Sun-drie..."
28,mexicana,The Mexicana Pizza,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O..."
29,spin_pesto,The Spinach Pesto Pizza,Veggie,"Spinach, Artichokes, Tomatoes, Sun-dried Tomat..."
30,spinach_fet,The Spinach and Feta Pizza,Veggie,"Spinach, Mushrooms, Red Onions, Feta Cheese, G..."
31,veggie_veg,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper..."

In [4]:
p

         pizza_id pizza_type_id size  price
0       bbq_ckn_s       bbq_ckn    S  12.75
1       bbq_ckn_m       bbq_ckn    M  16.75
2       bbq_ckn_l       bbq_ckn    L  20.75
3      cali_ckn_s      cali_ckn    S  12.75
4      cali_ckn_m      cali_ckn    M  16.75
..            ...           ...  ...    ...
91  spinach_fet_m   spinach_fet    M  16.00
92  spinach_fet_l   spinach_fet    L  20.25
93   veggie_veg_s    veggie_veg    S  12.00
94   veggie_veg_m    veggie_veg    M  16.00
95   veggie_veg_l    veggie_veg    L  20.25

[96 rows x 4 columns]

In [5]:
o

       order_id        date      time
0             1  2015-01-01  11:38:36
1             2  2015-01-01  11:57:40
2             3  2015-01-01  12:12:28
3             4  2015-01-01  12:16:31
4             5  2015-01-01  12:21:30
...         ...         ...       ...
21345     21346  2015-12-31  20:51:07
21346     21347  2015-12-31  21:14:37
21347     21348  2015-12-31  21:23:10
21348     21349  2015-12-31  22:09:54
21349     21350  2015-12-31  23:02:05

[21350 rows x 3 columns]

In [6]:
od

       order_details_id  order_id       pizza_id  quantity
0                     1         1     hawaiian_m         1
1                     2         2  classic_dlx_m         1
2                     3         2  five_cheese_l         1
3                     4         2    ital_supr_l         1
4                     5         2     mexicana_m         1
...                 ...       ...            ...       ...
48615             48616     21348  ckn_alfredo_m         1
48616             48617     21348  four_cheese_l         1
48617             48618     21348   napolitana_s         1
48618             48619     21349     mexicana_l         1
48619             48620     21350      bbq_ckn_s         1

[48620 rows x 4 columns]

In [7]:
o

       order_id        date      time
0             1  2015-01-01  11:38:36
1             2  2015-01-01  11:57:40
2             3  2015-01-01  12:12:28
3             4  2015-01-01  12:16:31
4             5  2015-01-01  12:21:30
...         ...         ...       ...
21345     21346  2015-12-31  20:51:07
21346     21347  2015-12-31  21:14:37
21347     21348  2015-12-31  21:23:10
21348     21349  2015-12-31  22:09:54
21349     21350  2015-12-31  23:02:05

[21350 rows x 3 columns]

In [8]:
ood = o.set_index('order_id').join(od.set_index('order_id')).reset_index()

In [9]:
ood

,order_id,date,time,order_details_id,pizza_id,quantity
0,1,2015-01-01,11:38:36,1,hawaiian_m,1
1,2,2015-01-01,11:57:40,2,classic_dlx_m,1
2,2,2015-01-01,11:57:40,3,five_cheese_l,1
3,2,2015-01-01,11:57:40,4,ital_supr_l,1
4,2,2015-01-01,11:57:40,5,mexicana_m,1
...,...,...,...,...,...,...
48615,21348,2015-12-31,21:23:10,48616,ckn_alfredo_m,1
48616,21348,2015-12-31,21:23:10,48617,four_cheese_l,1
48617,21348,2015-12-31,21:23:10,48618,napolitana_s,1
48618,21349,2015-12-31,22:09:54,48619,mexicana_l,1
48619,21350,2015-12-31,23:02:05,48620,bbq_ckn_s,1

In [10]:
ppt = p.set_index('pizza_type_id').join(pt.set_index('pizza_type_id')).reset_index()

In [11]:
ppt

,pizza_type_id,pizza_id,size,price,name,category,ingredients
0,bbq_ckn,bbq_ckn_s,S,12.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
1,bbq_ckn,bbq_ckn_m,M,16.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
2,bbq_ckn,bbq_ckn_l,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
3,big_meat,big_meat_s,S,12.00,The Big Meat Pizza,Classic,"Bacon, Pepperoni, Italian Sausage, Chorizo Sau..."
4,big_meat,big_meat_m,M,16.00,The Big Meat Pizza,Classic,"Bacon, Pepperoni, Italian Sausage, Chorizo Sau..."
...,...,...,...,...,...,...,...
91,the_greek,the_greek_xl,XL,25.50,The Greek Pizza,Classic,"Kalamata Olives, Feta Cheese, Tomatoes, Garlic..."
92,the_greek,the_greek_xxl,XXL,35.95,The Greek Pizza,Classic,"Kalamata Olives, Feta Cheese, Tomatoes, Garlic..."
93,veggie_veg,veggie_veg_s,S,12.00,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper..."
94,veggie_veg,veggie_veg_m,M,16.00,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper..."
95,veggie_veg,veggie_veg_l,L,20.25,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper..."

In [12]:
df = ood.set_index('pizza_id').join(ppt.set_index('pizza_id')).reset_index().sort_values(by="order_details_id").reset_index(drop=True)

In [13]:
df

,pizza_id,order_id,date,time,order_details_id,quantity,pizza_type_id,size,price,name,category,ingredients
0,hawaiian_m,1,2015-01-01,11:38:36,1,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
1,classic_dlx_m,2,2015-01-01,11:57:40,2,1,classic_dlx,M,16.00,The Classic Deluxe Pizza,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,..."
2,five_cheese_l,2,2015-01-01,11:57:40,3,1,five_cheese,L,18.50,The Five Cheese Pizza,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go..."
3,ital_supr_l,2,2015-01-01,11:57:40,4,1,ital_supr,L,20.75,The Italian Supreme Pizza,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni..."
4,mexicana_m,2,2015-01-01,11:57:40,5,1,mexicana,M,16.00,The Mexicana Pizza,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O..."
...,...,...,...,...,...,...,...,...,...,...,...,...
48615,ckn_alfredo_m,21348,2015-12-31,21:23:10,48616,1,ckn_alfredo,M,16.75,The Chicken Alfredo Pizza,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A..."
48616,four_cheese_l,21348,2015-12-31,21:23:10,48617,1,four_cheese,L,17.95,The Four Cheese Pizza,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo..."
48617,napolitana_s,21348,2015-12-31,21:23:10,48618,1,napolitana,S,12.00,The Napolitana Pizza,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,..."
48618,mexicana_l,21349,2015-12-31,22:09:54,48619,1,mexicana,L,20.25,The Mexicana Pizza,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O..."
48619,bbq_ckn_s,21350,2015-12-31,23:02:05,48620,1,bbq_ckn,S,12.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."

In [14]:
df.describe()

           order_id  order_details_id      quantity         price
count  48620.000000      48620.000000  48620.000000  48620.000000
mean   10701.479761      24310.500000      1.019622     16.494132
std     6180.119770      14035.529381      0.143077      3.621789
min        1.000000          1.000000      1.000000      9.750000
25%     5337.000000      12155.750000      1.000000     12.750000
50%    10682.500000      24310.500000      1.000000     16.500000
75%    16100.000000      36465.250000      1.000000     20.250000
max    21350.000000      48620.000000      4.000000     35.950000

In [15]:
df

,pizza_id,order_id,date,time,order_details_id,quantity,pizza_type_id,size,price,name,category,ingredients
0,hawaiian_m,1,2015-01-01,11:38:36,1,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
1,classic_dlx_m,2,2015-01-01,11:57:40,2,1,classic_dlx,M,16.00,The Classic Deluxe Pizza,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,..."
2,five_cheese_l,2,2015-01-01,11:57:40,3,1,five_cheese,L,18.50,The Five Cheese Pizza,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go..."
3,ital_supr_l,2,2015-01-01,11:57:40,4,1,ital_supr,L,20.75,The Italian Supreme Pizza,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni..."
4,mexicana_m,2,2015-01-01,11:57:40,5,1,mexicana,M,16.00,The Mexicana Pizza,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O..."
...,...,...,...,...,...,...,...,...,...,...,...,...
48615,ckn_alfredo_m,21348,2015-12-31,21:23:10,48616,1,ckn_alfredo,M,16.75,The Chicken Alfredo Pizza,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A..."
48616,four_cheese_l,21348,2015-12-31,21:23:10,48617,1,four_cheese,L,17.95,The Four Cheese Pizza,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo..."
48617,napolitana_s,21348,2015-12-31,21:23:10,48618,1,napolitana,S,12.00,The Napolitana Pizza,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,..."
48618,mexicana_l,21349,2015-12-31,22:09:54,48619,1,mexicana,L,20.25,The Mexicana Pizza,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O..."
48619,bbq_ckn_s,21350,2015-12-31,23:02:05,48620,1,bbq_ckn,S,12.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."

In [16]:
from pandas_profiling import ProfileReport
prof = ProfileReport(df)
prof.to_file(output_file='pizzaData.html')

/var/folders/58/m9393pr55dd73xt9k6s7jnlm0000gn/T/ipykernel_58670/72503888.py:1: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  from pandas_profiling import ProfileReport

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

/Users/benjaminpfeffer/no/envs/mlp/lib/python3.8/site-packages/multimethod/__init__.py:315: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  return func(*args, **kwargs)

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [17]:
df

,pizza_id,order_id,date,time,order_details_id,quantity,pizza_type_id,size,price,name,category,ingredients
0,hawaiian_m,1,2015-01-01,11:38:36,1,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
1,classic_dlx_m,2,2015-01-01,11:57:40,2,1,classic_dlx,M,16.00,The Classic Deluxe Pizza,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,..."
2,five_cheese_l,2,2015-01-01,11:57:40,3,1,five_cheese,L,18.50,The Five Cheese Pizza,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go..."
3,ital_supr_l,2,2015-01-01,11:57:40,4,1,ital_supr,L,20.75,The Italian Supreme Pizza,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni..."
4,mexicana_m,2,2015-01-01,11:57:40,5,1,mexicana,M,16.00,The Mexicana Pizza,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O..."
...,...,...,...,...,...,...,...,...,...,...,...,...
48615,ckn_alfredo_m,21348,2015-12-31,21:23:10,48616,1,ckn_alfredo,M,16.75,The Chicken Alfredo Pizza,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A..."
48616,four_cheese_l,21348,2015-12-31,21:23:10,48617,1,four_cheese,L,17.95,The Four Cheese Pizza,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo..."
48617,napolitana_s,21348,2015-12-31,21:23:10,48618,1,napolitana,S,12.00,The Napolitana Pizza,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,..."
48618,mexicana_l,21349,2015-12-31,22:09:54,48619,1,mexicana,L,20.25,The Mexicana Pizza,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O..."
48619,bbq_ckn_s,21350,2015-12-31,23:02:05,48620,1,bbq_ckn,S,12.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."

In [18]:
groups = df.groupby("order_id").agg({"pizza_type_id":"count"}).reset_index()
multiOrders = groups[groups.pizza_type_id>1].order_id.values

In [19]:
# multi-order dataframe
moDf = df[df.order_id.isin(multiOrders)].reset_index(drop=True)

In [20]:
moDf

,pizza_id,order_id,date,time,order_details_id,quantity,pizza_type_id,size,price,name,category,ingredients
0,classic_dlx_m,2,2015-01-01,11:57:40,2,1,classic_dlx,M,16.00,The Classic Deluxe Pizza,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,..."
1,five_cheese_l,2,2015-01-01,11:57:40,3,1,five_cheese,L,18.50,The Five Cheese Pizza,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go..."
2,ital_supr_l,2,2015-01-01,11:57:40,4,1,ital_supr,L,20.75,The Italian Supreme Pizza,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni..."
3,mexicana_m,2,2015-01-01,11:57:40,5,1,mexicana,M,16.00,The Mexicana Pizza,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O..."
4,thai_ckn_l,2,2015-01-01,11:57:40,6,1,thai_ckn,L,20.75,The Thai Chicken Pizza,Chicken,"Chicken, Pineapple, Tomatoes, Red Peppers, Tha..."
...,...,...,...,...,...,...,...,...,...,...,...,...
40414,peppr_salami_s,21347,2015-12-31,21:14:37,48614,1,peppr_salami,S,12.50,The Pepper Salami Pizza,Supreme,"Genoa Salami, Capocollo, Pepperoni, Tomatoes, ..."
40415,southw_ckn_l,21347,2015-12-31,21:14:37,48615,1,southw_ckn,L,20.75,The Southwest Chicken Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Red Onions, Ja..."
40416,ckn_alfredo_m,21348,2015-12-31,21:23:10,48616,1,ckn_alfredo,M,16.75,The Chicken Alfredo Pizza,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A..."
40417,four_cheese_l,21348,2015-12-31,21:23:10,48617,1,four_cheese,L,17.95,The Four Cheese Pizza,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo..."
40418,napolitana_s,21348,2015-12-31,21:23:10,48618,1,napolitana,S,12.00,The Napolitana Pizza,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,..."

In [21]:
# determine how often orders co-occur? but also based on ingredients would be cool

## Ways to recommend:
### 1) User Similarity (similar prices and times)
### 2) Association (similar orders)
### 3) Item similarity (ingredients)
### 4) Popularity

In [22]:
"""
https://towardsdatascience.com/recommendation-system-series-part-1-an-executive-guide-to-building-recommendation-system-608f83e2630a
https://realpython.com/build-recommendation-engine-collaborative-filtering/
"""

'\nhttps://towardsdatascience.com/recommendation-system-series-part-1-an-executive-guide-to-building-recommendation-system-608f83e2630a\nhttps://realpython.com/build-recommendation-engine-collaborative-filtering/\n'

In [23]:
# maybe movies is easier bc ratings: https://www.kaggle.com/datasets/gargmanas/movierecommenderdataset?select=ratings.csv

### From class notes, best recommendation type is item to item
### In our case, this means pizzas that go with pizzas, not order

In [24]:
moDf

,pizza_id,order_id,date,time,order_details_id,quantity,pizza_type_id,size,price,name,category,ingredients
0,classic_dlx_m,2,2015-01-01,11:57:40,2,1,classic_dlx,M,16.00,The Classic Deluxe Pizza,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,..."
1,five_cheese_l,2,2015-01-01,11:57:40,3,1,five_cheese,L,18.50,The Five Cheese Pizza,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go..."
2,ital_supr_l,2,2015-01-01,11:57:40,4,1,ital_supr,L,20.75,The Italian Supreme Pizza,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni..."
3,mexicana_m,2,2015-01-01,11:57:40,5,1,mexicana,M,16.00,The Mexicana Pizza,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O..."
4,thai_ckn_l,2,2015-01-01,11:57:40,6,1,thai_ckn,L,20.75,The Thai Chicken Pizza,Chicken,"Chicken, Pineapple, Tomatoes, Red Peppers, Tha..."
...,...,...,...,...,...,...,...,...,...,...,...,...
40414,peppr_salami_s,21347,2015-12-31,21:14:37,48614,1,peppr_salami,S,12.50,The Pepper Salami Pizza,Supreme,"Genoa Salami, Capocollo, Pepperoni, Tomatoes, ..."
40415,southw_ckn_l,21347,2015-12-31,21:14:37,48615,1,southw_ckn,L,20.75,The Southwest Chicken Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Red Onions, Ja..."
40416,ckn_alfredo_m,21348,2015-12-31,21:23:10,48616,1,ckn_alfredo,M,16.75,The Chicken Alfredo Pizza,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A..."
40417,four_cheese_l,21348,2015-12-31,21:23:10,48617,1,four_cheese,L,17.95,The Four Cheese Pizza,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo..."
40418,napolitana_s,21348,2015-12-31,21:23:10,48618,1,napolitana,S,12.00,The Napolitana Pizza,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,..."

### First: trying simple co-occurence of pizza type using cosine similarity

In [25]:
simple = moDf[["order_id", "quantity", "pizza_type_id"]]
copyDf = simple.copy()
copyDf = copyDf[copyDf.quantity==1]

In [26]:
copyDf = copyDf.drop_duplicates().reset_index(drop=True)

In [27]:
itemitem = copyDf.pivot(index='pizza_type_id', columns='order_id', values='quantity').fillna(0)

In [28]:
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import pairwise_distances

In [29]:
cositem = pd.DataFrame(pairwise_distances(itemitem,metric='euclidean'))
#cositem = pd.DataFrame(cosine_similarity(itemitem))
cositem.columns = itemitem.index
cositem.index = itemitem.index

In [31]:
n=5
list(cositem[cositem > 0].stack().sort_values().head(n).index)

[('spinach_supr', 'brie_carre'),
 ('brie_carre', 'spinach_supr'),
 ('brie_carre', 'mediterraneo'),
 ('mediterraneo', 'brie_carre'),
 ('brie_carre', 'spin_pesto')]

In [32]:
cositem = pd.DataFrame(1 - pairwise_distances(itemitem,metric='cosine'))
#cositem = pd.DataFrame(cosine_similarity(itemitem))
cositem.columns = itemitem.index
cositem.index = itemitem.index

In [37]:
n=10
list(cositem[cositem < 0.99].stack().sort_values(ascending=False).head(n).index)

[('hawaiian', 'thai_ckn'),
 ('thai_ckn', 'hawaiian'),
 ('bbq_ckn', 'pepperoni'),
 ('pepperoni', 'bbq_ckn'),
 ('hawaiian', 'pepperoni'),
 ('pepperoni', 'hawaiian'),
 ('pepperoni', 'thai_ckn'),
 ('thai_ckn', 'pepperoni'),
 ('pepperoni', 'cali_ckn'),
 ('cali_ckn', 'pepperoni')]

In [41]:
from sklearn.neighbors import NearestNeighbors
knn = NearestNeighbors(metric='cosine', algorithm='brute')
knn.fit(itemitem.values)
distances, indices = knn.kneighbors(itemitem.values, n_neighbors=5)

In [46]:
distances.shape

(32, 5)

In [49]:
map_pizza = itemitem.index.to_list()

In [72]:
print("Cosine similarity of best matches for each pizza:")
for i in range(len(indices)):
    curr = indices[i]
    dist = distances[i]
    print("_________________________________________________")
    print("Pizza:", map_pizza[curr[0]])
    print("Best matches:", [(map_pizza[j],round(1-k, 4)) for j, k in zip(curr[1:],dist[1:])])

Cosine similarity of best matches for each pizza:
_________________________________________________
Pizza: bbq_ckn
Best matches: [('pepperoni', 0.1361), ('hawaiian', 0.1314), ('cali_ckn', 0.1295), ('classic_dlx', 0.122)]
_________________________________________________
Pizza: big_meat
Best matches: [('thai_ckn', 0.1229), ('pepperoni', 0.1203), ('hawaiian', 0.1123), ('sicilian', 0.1121)]
_________________________________________________
Pizza: brie_carre
Best matches: [('bbq_ckn', 0.0698), ('sicilian', 0.0666), ('classic_dlx', 0.0664), ('hawaiian', 0.0643)]
_________________________________________________
Pizza: calabrese
Best matches: [('classic_dlx', 0.0916), ('thai_ckn', 0.0886), ('bbq_ckn', 0.087), ('four_cheese', 0.0863)]
_________________________________________________
Pizza: cali_ckn
Best matches: [('pepperoni', 0.1321), ('classic_dlx', 0.1298), ('bbq_ckn', 0.1295), ('hawaiian', 0.1277)]
_________________________________________________
Pizza: ckn_alfredo
Best matches: [('classic_dlx', 0.0971), ('thai_ckn', 0.0926), ('bbq_ckn', 0.0911), ('four_cheese', 0.0882)]
_________________________________________________
Pizza: ckn_pesto
Best matches: [('classic_dlx', 0.0996), ('veggie_veg', 0.0903), ('hawaiian', 0.0901), ('pepperoni', 0.0899)]
_________________________________________________
Pizza: classic_dlx
Best matches: [('hawaiian', 0.131), ('ital_supr', 0.1308), ('cali_ckn', 0.1298), ('four_cheese', 0.1279)]
_________________________________________________
Pizza: five_cheese
Best matches: [('hawaiian', 0.1105), ('classic_dlx', 0.1067), ('thai_ckn', 0.1062), ('bbq_ckn', 0.1054)]
_________________________________________________
Pizza: four_cheese
Best matches: [('pepperoni', 0.1317), ('classic_dlx', 0.1279), ('hawaiian', 0.124), ('ital_supr', 0.1172)]
_________________________________________________
Pizza: green_garden
Best matches: [('hawaiian', 0.0956), ('spicy_ital', 0.0919), ('pepperoni', 0.0911), ('thai_ckn', 0.0898)]
_________________________________________________
Pizza: hawaiian
Best matches: [('thai_ckn', 0.1401), ('pepperoni', 0.1328), ('bbq_ckn', 0.1314), ('classic_dlx', 0.131)]
_________________________________________________
Pizza: ital_cpcllo
Best matches: [('bbq_ckn', 0.1085), ('thai_ckn', 0.1059), ('sicilian', 0.105), ('pepperoni', 0.1022)]
_________________________________________________
Pizza: ital_supr
Best matches: [('classic_dlx', 0.1308), ('four_cheese', 0.1172), ('pepperoni', 0.1169), ('thai_ckn', 0.1157)]
_________________________________________________
Pizza: ital_veggie
Best matches: [('hawaiian', 0.0955), ('four_cheese', 0.0915), ('bbq_ckn', 0.0915), ('classic_dlx', 0.0909)]
_________________________________________________
Pizza: mediterraneo
Best matches: [('bbq_ckn', 0.0895), ('thai_ckn', 0.0893), ('the_greek', 0.0879), ('classic_dlx', 0.0873)]
_________________________________________________
Pizza: mexicana
Best matches: [('hawaiian', 0.1252), ('bbq_ckn', 0.1127), ('ital_supr', 0.1059), ('pepperoni', 0.105)]
_________________________________________________
Pizza: napolitana
Best matches: [('cali_ckn', 0.1136), ('classic_dlx', 0.1132), ('thai_ckn', 0.1109), ('ital_supr', 0.1052)]
_________________________________________________
Pizza: pep_msh_pep
Best matches: [('classic_dlx', 0.1107), ('hawaiian', 0.1068), ('bbq_ckn', 0.106), ('cali_ckn', 0.1051)]
_________________________________________________
Pizza: pepperoni
Best matches: [('bbq_ckn', 0.1361), ('hawaiian', 0.1328), ('thai_ckn', 0.1323), ('cali_ckn', 0.1321)]
_________________________________________________
Pizza: peppr_salami
Best matches: [('hawaiian', 0.1124), ('pepperoni', 0.1066), ('classic_dlx', 0.1058), ('ital_supr', 0.1058)]
_________________________________________________
Pizza: prsc_argla
Best matches: [('bbq_ckn', 0.1089), ('ital_supr', 0.1029), ('hawaiian', 0.1014), ('pepperoni', 0.1013)]
_________________________________________________
Pizza: sicilian
Best matches: [('classic_dlx', 0.1258), ('cali_ckn', 0.122), ('hawaiian', 0.12), ('spicy_ital', 0.1168)]
_________________________________________________
Pizza: soppressata
Best matches: [('classic_dlx', 0.0969), ('thai_ckn', 0.0933), ('ital_supr', 0.0896), ('pepperoni', 0.0896)]
_________________________________________________
Pizza: southw_ckn
Best matches: [('pepperoni', 0.1256), ('thai_ckn', 0.1235), ('spicy_ital', 0.1201), ('bbq_ckn', 0.1201)]
_________________________________________________
Pizza: spicy_ital
Best matches: [('pepperoni', 0.1265), ('southw_ckn', 0.1201), ('sicilian', 0.1168), ('cali_ckn', 0.1151)]
_________________________________________________
Pizza: spin_pesto
Best matches: [('classic_dlx', 0.0939), ('bbq_ckn', 0.0894), ('hawaiian', 0.0893), ('pepperoni', 0.0874)]
_________________________________________________
Pizza: spinach_fet
Best matches: [('pepperoni', 0.1223), ('thai_ckn', 0.1153), ('bbq_ckn', 0.1123), ('hawaiian', 0.102)]
_________________________________________________
Pizza: spinach_supr
Best matches: [('pepperoni', 0.0979), ('classic_dlx', 0.0928), ('sicilian', 0.0907), ('southw_ckn', 0.083)]
_________________________________________________
Pizza: thai_ckn
Best matches: [('hawaiian', 0.1401), ('pepperoni', 0.1323), ('classic_dlx', 0.1256), ('southw_ckn', 0.1235)]
_________________________________________________
Pizza: the_greek
Best matches: [('four_cheese', 0.1074), ('pepperoni', 0.1068), ('hawaiian', 0.1034), ('classic_dlx', 0.1032)]
_________________________________________________
Pizza: veggie_veg
Best matches: [('ital_supr', 0.1094), ('thai_ckn', 0.109), ('southw_ckn', 0.1067), ('hawaiian', 0.1062)]

### When people order multiple, rerun the code to recreate dataframe and develop a similarity matrix

In [73]:
# Example, people ordered bbq_ckn and pepperoni together

In [123]:
# Sum items and make new row that is a combo of two pizzas, remove old 2 pizzas, do same thing

In [142]:
newRow = pd.DataFrame([np.where((itemitem.loc["bbq_ckn"] + itemitem.loc["pepperoni"] == 2)==True, 1, 0)])
newRow.columns = itemitem.columns
newRow.index = ["bbq_ckn-pepperoni"]

In [144]:
orderTwo = pd.concat([itemitem, newRow], axis=0)
orderTwo = orderTwo.drop(["bbq_ckn", "pepperoni"])

In [146]:
orderTwo.head()

order_id,2,3,6,9,10,11,12,15,16,17,...,21336,21337,21340,21342,21343,21344,21345,21346,21347,21348
big_meat,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
brie_carre,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
calabrese,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
cali_ckn,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
ckn_alfredo,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [148]:
from sklearn.neighbors import NearestNeighbors
knn = NearestNeighbors(metric='cosine', algorithm='brute')
knn.fit(orderTwo.values)
distances2, indices2 = knn.kneighbors(orderTwo.values, n_neighbors=5)

In [155]:
map_pizza2 = orderTwo.index.to_list()

In [156]:
print("Cosine similarity of best matches for each pizza:")
for i in range(len(indices2)):
    curr = indices2[i]
    dist = distances2[i]
    print("_________________________________________________")
    print("Pizza:", map_pizza2[curr[0]])
    print("Best matches:", [(map_pizza2[j],round(1-k, 4)) for j, k in zip(curr[1:],dist[1:])])

Cosine similarity of best matches for each pizza:
_________________________________________________
Pizza: big_meat
Best matches: [('thai_ckn', 0.1229), ('hawaiian', 0.1123), ('sicilian', 0.1121), ('classic_dlx', 0.1073)]
_________________________________________________
Pizza: brie_carre
Best matches: [('sicilian', 0.0666), ('classic_dlx', 0.0664), ('hawaiian', 0.0643), ('southw_ckn', 0.0631)]
_________________________________________________
Pizza: calabrese
Best matches: [('classic_dlx', 0.0916), ('thai_ckn', 0.0886), ('four_cheese', 0.0863), ('ital_supr', 0.0822)]
_________________________________________________
Pizza: cali_ckn
Best matches: [('classic_dlx', 0.1298), ('hawaiian', 0.1277), ('thai_ckn', 0.1233), ('sicilian', 0.122)]
_________________________________________________
Pizza: ckn_alfredo
Best matches: [('classic_dlx', 0.0971), ('thai_ckn', 0.0926), ('four_cheese', 0.0882), ('southw_ckn', 0.0873)]
_________________________________________________
Pizza: ckn_pesto
Best matches: [('classic_dlx', 0.0996), ('veggie_veg', 0.0903), ('hawaiian', 0.0901), ('sicilian', 0.0858)]
_________________________________________________
Pizza: classic_dlx
Best matches: [('hawaiian', 0.131), ('ital_supr', 0.1308), ('cali_ckn', 0.1298), ('four_cheese', 0.1279)]
_________________________________________________
Pizza: five_cheese
Best matches: [('hawaiian', 0.1105), ('classic_dlx', 0.1067), ('thai_ckn', 0.1062), ('southw_ckn', 0.0958)]
_________________________________________________
Pizza: four_cheese
Best matches: [('classic_dlx', 0.1279), ('hawaiian', 0.124), ('ital_supr', 0.1172), ('thai_ckn', 0.1117)]
_________________________________________________
Pizza: green_garden
Best matches: [('hawaiian', 0.0956), ('spicy_ital', 0.0919), ('thai_ckn', 0.0898), ('classic_dlx', 0.0845)]
_________________________________________________
Pizza: hawaiian
Best matches: [('thai_ckn', 0.1401), ('classic_dlx', 0.131), ('cali_ckn', 0.1277), ('mexicana', 0.1252)]
_________________________________________________
Pizza: ital_cpcllo
Best matches: [('thai_ckn', 0.1059), ('sicilian', 0.105), ('southw_ckn', 0.1014), ('big_meat', 0.1009)]
_________________________________________________
Pizza: ital_supr
Best matches: [('classic_dlx', 0.1308), ('four_cheese', 0.1172), ('thai_ckn', 0.1157), ('cali_ckn', 0.1133)]
_________________________________________________
Pizza: ital_veggie
Best matches: [('hawaiian', 0.0955), ('four_cheese', 0.0915), ('classic_dlx', 0.0909), ('cali_ckn', 0.0907)]
_________________________________________________
Pizza: mediterraneo
Best matches: [('thai_ckn', 0.0893), ('the_greek', 0.0879), ('classic_dlx', 0.0873), ('hawaiian', 0.0859)]
_________________________________________________
Pizza: mexicana
Best matches: [('hawaiian', 0.1252), ('ital_supr', 0.1059), ('four_cheese', 0.0966), ('thai_ckn', 0.0963)]
_________________________________________________
Pizza: napolitana
Best matches: [('cali_ckn', 0.1136), ('classic_dlx', 0.1132), ('thai_ckn', 0.1109), ('ital_supr', 0.1052)]
_________________________________________________
Pizza: pep_msh_pep
Best matches: [('classic_dlx', 0.1107), ('hawaiian', 0.1068), ('cali_ckn', 0.1051), ('thai_ckn', 0.1003)]
_________________________________________________
Pizza: peppr_salami
Best matches: [('hawaiian', 0.1124), ('classic_dlx', 0.1058), ('ital_supr', 0.1058), ('sicilian', 0.1052)]
_________________________________________________
Pizza: prsc_argla
Best matches: [('ital_supr', 0.1029), ('hawaiian', 0.1014), ('classic_dlx', 0.0984), ('spicy_ital', 0.0984)]
_________________________________________________
Pizza: sicilian
Best matches: [('classic_dlx', 0.1258), ('cali_ckn', 0.122), ('hawaiian', 0.12), ('spicy_ital', 0.1168)]
_________________________________________________
Pizza: soppressata
Best matches: [('classic_dlx', 0.0969), ('thai_ckn', 0.0933), ('ital_supr', 0.0896), ('hawaiian', 0.089)]
_________________________________________________
Pizza: southw_ckn
Best matches: [('thai_ckn', 0.1235), ('spicy_ital', 0.1201), ('hawaiian', 0.1167), ('cali_ckn', 0.1113)]
_________________________________________________
Pizza: spicy_ital
Best matches: [('southw_ckn', 0.1201), ('sicilian', 0.1168), ('cali_ckn', 0.1151), ('hawaiian', 0.115)]
_________________________________________________
Pizza: spin_pesto
Best matches: [('classic_dlx', 0.0939), ('hawaiian', 0.0893), ('spicy_ital', 0.0837), ('four_cheese', 0.0835)]
_________________________________________________
Pizza: spinach_fet
Best matches: [('thai_ckn', 0.1153), ('hawaiian', 0.102), ('sicilian', 0.0985), ('classic_dlx', 0.0957)]
_________________________________________________
Pizza: spinach_supr
Best matches: [('classic_dlx', 0.0928), ('sicilian', 0.0907), ('southw_ckn', 0.083), ('peppr_salami', 0.0792)]
_________________________________________________
Pizza: thai_ckn
Best matches: [('hawaiian', 0.1401), ('classic_dlx', 0.1256), ('southw_ckn', 0.1235), ('cali_ckn', 0.1233)]
_________________________________________________
Pizza: the_greek
Best matches: [('four_cheese', 0.1074), ('hawaiian', 0.1034), ('classic_dlx', 0.1032), ('cali_ckn', 0.0989)]
_________________________________________________
Pizza: veggie_veg
Best matches: [('ital_supr', 0.1094), ('thai_ckn', 0.109), ('southw_ckn', 0.1067), ('hawaiian', 0.1062)]
_________________________________________________
Pizza: bbq_ckn-pepperoni
Best matches: [('five_cheese', 0.0729), ('hawaiian', 0.0607), ('ital_supr', 0.0598), ('the_greek', 0.0587)]